<!DOCTYPE html>
<html>
<head>
    <title>Memory Book</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div id="startScreen">
    <h1>📖 A Memory Book</h1>
    <button onclick="startBook()">Begin</button>
</div>

<!-- BOOK -->
<div id="book">

    <div id="spread">

        <!-- LEFT PAGE -->
        <div class="page" id="leftPage"></div>

        <!-- RIGHT PAGE -->
        <div class="page" id="rightPage"></div>

    </div>

    <div class="controls">
        <button onclick="prev()">⬅ Prev</button>
        <button onclick="next()">Next ➡</button>
    </div>

</div>

<script>
    let index = 0;
    const spreads = {{ spreads | tojson }};
</script>

<script src="/static/js/script.js"></script>

</body>
</html>